[Unit]
Description=Monero Pool Wallet
After=network.target

[Service]
User=monrig
Group=monrig
WorkingDirectory=~

Type=simple
ExecStart=/home/monrig/.monerodo/run_solo_miner.sh

[Install]
WantedBy=multi-user.target

