[Unit]
Description=Monero Pool Wallet
After=network.target
Binds-to=mos_pool.service

[Service]
User=monrig
Group=monrig
WorkingDirectory=~

Type=simple
ExecStart=/home/monrig/.monerodo/run_wallet.sh

[Install]
WantedBy=multi-user.target

