[Unit]
Description=Monero Full Node
After=network.target mos_changeip.service network-online.target
Wants=network-online.target

[Service]
User=monrig
Group=monrig
WorkingDirectory=~

Type=forking
ExecStart=/bin/monerod --detach --config-file /home/monrig/.monerodo/monerod.conf

# This is necessary because monerod does not yet support
# writing a PID file, which means systemd tries to guess the PID
# by default, but it guesses wrong (sometimes, depending on
# random timing of events), because the daemon forks twice.
# The ultimate fix is for the daemon to write a PID file, and
# a workaround is to disable the guessing feature in systemd.
GuessMainPID=no

[Install]
WantedBy=multi-user.target

