[Unit]
Description=Monero External Pool Miner
After=network.target mos_changeip.service network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
WorkingDirectory=/home/monrig/.monerodo

Type=simple
ExecStart=/home/monrig/.monerodo/run_ext_miner.sh

[Install]
WantedBy=multi-user.target

