[Unit]
Description=Monero Pool Server
After=network.target mos_wallet.service
Requires=mos_wallet.service

[Service]
User=monrig
Group=monrig
WorkingDirectory=~

Type=simple
ExecStart=/home/monrig/.monerodo/run_pool.sh                           

[Install]
WantedBy=multi-user.target

